.container {
    display: flex;
    align-items: left;
    flex-direction: column;
    flex-wrap: wrap;
    height: 1000px;
}

.input{
    border: 1px solid rgb(166, 165, 165);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 7px;
    padding: 20px 30px;
    margin-bottom: 10px;
}

.inputBox{
    text-decoration: none;
    appearance: none;
    border: 1px solid rgb(166, 165, 165);
    padding: 8px;
    border-radius: 7px;
    width: 1000px;
}

.subinput{
    display: flex;
    padding: 2px;
    gap: 10px;
    margin: 10px;
}

.centerItems{
    display: flex;
    justify-content: center;
}